/* @import 'tailwindcss';
@import './bootstrap'; */
@import './app.css';
@import './alert.css';
@import './bootstrap.min.css';
@import './Form-Input.css';
@import './TableCell_CenteredStatus.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
